<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	default-lazy-init属性：用于指定所有单例的对象的默认初始化的时机。
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
				 default-lazy-init="true"
				>
           
         <!--
		scope属性：用于指定bean的生命周期 singleton：单例的，每次ac.getBean()返回的都是同一个实例.
		prototype：多例的，第次ac.getBean()返回的都是一个新的实例. 默认为singleton。
		lazy-init属性：用于指定在什么时候初始化单例的对象
		false：表示在创建ApplicationContext时就初始化本单例的对象。
		true：表示在第一次调用getBean()获取本对象时才初始化。 默认为default.
	-->
      <bean id="user1" class="cn.itcast.spring.f_beanScope.User"
      
        scope="singleton" lazy-init="default">
          <property name="name" value="张三"></property>
      </bean>
        <!-- scope:prototype表示多例 -->
      <bean id="user2" class="cn.itcast.spring.f_beanScope.User"
      
        scope="prototype" lazy-init="default">
          <property name="name" value="李四"></property>
      </bean>
</beans>
