<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	default-lazy-init属性：用于指定所有单例的对象的默认初始化的时机。
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
				
				>
        <!-- 单例的对象，配置初始化方法和销毁的方法 -->  
         <bean name="UserDao" class="cn.itcast.spring.g_bean_init_destory.UserDao"
         destroy-method="destroy" init-method="init" scope="prototype">
         
         </bean>
</beans>
